nav{
    background-color: black;
    height: 55px;
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
    
    

}
nav ul{
    
    background-color: black;
    height: 90%;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 30%;

}
nav ul li {
    font-size: 20px;
    
}
nav ul li a:link
{
    ccolor: #CD5C5C;
    text-decoration: none;
}
nav ul li a:visited
{
    color: #CD5C5C;
}
nav ul li a:hover
{
    transition: all .3s ease-in-out;
    color:azure;
}
