.projectText-container
{
    margin: 30px;
    width: 70vw;
    border-radius: 30px 30px 30px 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content:center;
   
}
.projectText-text
{
    margin: 30px;
}
.projectText-text p{
    font-size: 25px;
    color:black;
}

.projectText-button
{
    margin: 30px;
}
.projectText-button button
{
    width: 150px;
    height: 45px;
    margin: 10px;
    background-color:  #555D50;
    color:white;
    font-size: 28px;
    border-radius: 10px;
    border: none;
    transition: all 0.5ms ease-in-out;
    
}
.projectText-button button:hover
{
    transition: all .3s ease-in-out;
    background-color: #232B2B;
}
